# Maven
target/*
!target/site/
!target/site/serenity/

*.class
*.jar
!**/src/**/**.jar

# IDE
.idea/
*.iml
.eclipse
.project
.classpath
.settings/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Serenity generated reports
# (ahora sí permitidos explícitamente arriba)

# Driver binaries
.wdm/
drivers/

# Logs
*.log
logs/